.main
 .main__header
  .main__header__left
   .main__header__left__name
    group name
   .main__header__left__member
    Member
  .main__header__right
   .main__header__right__edit
    Edit
 .main__content
  .main__content__first
   .main__content__first__name
    kouhei
   .main__content__first__date
    2019/11/07/11:56:12
  .main__content__second
   this is a first message
 .main__form
  .main__form__bar
   .main__form__bar__text
    %label.main__form__bar__text__write
     %input.main__form__bar__text__write__message{placeholder:"type a message", type: "text"}
    %label.main__form__bar__text__icon
     = icon 'far', 'image'
     %input.main__form__bar__text__icon__file{type:"file"}
   .main__form__bar__send
    Send 
    
      
      
  
    
    

    