.chat
  .header
    .left-header
      .left-header__title
      .left-header__members
        .member
    .right-header
      .right-header__button
  .messages
    .message
      .upper-message
        .upper-massage__user-name
        .upper-massage__date
      .lower-message
        .lower-message__content
  .form
    .form__message
    .form__mask
      .form__mask__image
      .hidden
    .form__submit
