.left
 .left__top
  .left__top__name
   kouhei
  .left__top__icon
   =link_to do
    =icon'fas', 'edit',class: 'left__top__icon__link'
   =link_to do
    =icon'fas', 'cog',class: 'left__top__icon__link'
 .left__content
  .left__content__text1
   .left__content__text1__g
    test1
   .left__content__text1__m
    まだメッセージがありません
  .left__content__text2
   .left__content__text2__g
    test2
   .left__content__text2__m
    まだメッセージがありません



 


